---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{site.data.details.name}}'s Home</title>
  </head>
  <body>
    <h1>Hello World, this is the {{site.data.details.name}}!</h1>
    <p>Reach me at:
    <ul>
      {% for url in site.data.details.urls %}
        <li><a href="http://{{url}}">{{url}}</a></li>
      {% endfor %}
    </ul>
    <p>Email me at:
    <ul>
      {% for email in site.data.details.email %}
        <li><a href="{{email}}">{{email}}</a></li>
      {% endfor %}
    </ul>
    <p>My Education:
    <ul>
      {% for education in site.data.details.education %}
      <li><a href="{{education}}">{{education}}</a></li>
      {% endfor %}
    </ul>
    <p>My Work Experience:
    <ul>
      {% for workexperience in site.data.details.workexeperience %}
      <li><a href="{{workexperience}}">{{workexperience}}</a></li>
      {% endfor %}
    </ul>
    <p>Languages:
    <ul>
      {% for languages in site.data.details.languages %}
      <li><a href="{{languages}}">{{languages}}</a></li>
      {% endfor %}
    </ul>
    <p>Social Skills:
    <ul>
      {% for socialskills in site.data.details.socialskills %}
      <li><a href="{{socialskills}}">{{socialskills}}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
